*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.post{
  margin: 10px 20px;
  display: flex;
  border: 1px solid grey;
  padding:15px;
}
.post-aside{
  border-right: 1px solid blue;
  min-width:205px;

}
.post-aside__author{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
}
.post-aside__info{
  font-size: 12px;
  margin-bottom: 10px;
}

.post-body{
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.post-body__title{
  margin-bottom: 20px;
}

.post-body__btn{
  margin: 20px 0;
  background-color: lightblue;
  padding: 5px;
  border-radius: 5px;
  align-self: flex-end;
  min-width: 145px;

}
.comment-list{
  align-self: flex-end;
  flex-basis:90%;
}
.comment{
  display: flex;
  list-style: none;
  font-size: 10px;
  border: 1px dashed lightblue;
  margin: 5px;
}
.comment__info{
  padding: 5px;
  border-right: 1px dashed lightblue;
  width: 20%;

}
.comment__author{
  font-weight: bold;
  margin-bottom: 10px;
}
.comment__text{
  padding: 5px;
  width:80%;
}